
h1{
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}
.initial{
    margin-top: 50px;
    text-align: center;
    font-size: xx-large;
}
.txt{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.whole{
    background-color: aquamarine;
    min-height: 100vh;
}
.card{
    width:30rem;
    margin-bottom: 2%;
    border-radius: 20px;
    
}
.all-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#toggle-button{
    float: right;
    border-radius: 20px;
}
#date{
    float:right;
}